.side-bar {
 
  display:flex;
  flex-direction: column;
  max-width:320px;
  min-width:290px;
  position: relative;
  padding-top:10px;
  
}

@media only screen and (max-width: 900px ) {
  .side-bar {
    display: none;
  }
  .sidebar-subreddit{
    display: flex;
  }
}
@media only screen and (min-width: 900px) {
  .sidebar-subreddit{
    display: none;
  }
}
