.skeleton {
  margin: 10px 0;
  border-radius: 4px;
  position: relative;
  background: linear-gradient(0.25turn, transparent, rgb(255, 255, 255), transparent),
    linear-gradient(#eee, #eee),
    
    linear-gradient(#eee, #eee);
  background-repeat: no-repeat;
  
  background-position: -500px 0, 0 0, 0px 190px, 50px 500px; 
  animation: loading 1.5s ;
}

.skeleton.text {
  width: 100%;
  height: 1rem;
  
}

.skeleton.skeleton-title {
  width: 50%;
  height: 1rem;
  margin-bottom: 20px;
}
.skeleton.avatar {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.skeleton.spantext {
  width: 20%;
  margin: 3px 5px;
  height: 1rem;
}
.skeleton.button {
  width: 10%;
  margin: 3px 5px;
  height: 2rem;
}

.skeleton.skeleton-content {
  width: 80%;
  height: 20rem;
  border-radius: 5px;
  margin: auto;
}

@keyframes loading {  
  to {
    background-position: 500px 0, 0 0, 0px 190px, 50px 500px;;
  }
}